@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {

    background-image: url(bgred.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0;
}



.logo {
    margin: 150px;
    width: 250%;
    height: 150px;

}

.heading {
    font-family: " Gothic Medium";
    text-align: center;
    color: white;

    font-size: 100px;
}

.paragraph {
    font-family: "Nunito Sans";
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 120px;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    color: yellow;
}

span {
    color: yellow;
}

.Subheading2 {
    font-style: italic;
    font-family: "Nunito Sans";
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 80px;
    margin-left: 10%;
    margin-right: 10%;
}

.Subheading3 {
    text-align: center;
    font-family: "Nunito Sans";
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 80px;
    margin-left: 10%;
    margin-right: 10%;
}
